# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
city_data = "clean_city_data.csv"

city_data_df = pd.read_csv(city_data)

city_data_df = city_data_df.drop(columns=['Unnamed: 0'])
city_data_df['City'] = city_data_df['City'].str.capitalize()
city_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Faya,0,SA,1607393704,66,18.39,42.45,51.80,0.74
1,Rikitea,6,PF,1607393705,81,-23.12,-134.97,75.60,13.91
2,Carnarvon,0,AU,1607393705,65,-24.87,113.63,80.60,9.17
3,Matara,0,LK,1607393705,82,5.95,80.54,79.00,3.76
4,Broome,90,US,1607393706,79,42.25,-75.83,27.00,12.75
...,...,...,...,...,...,...,...,...,...
553,San jose,100,ML,1607393703,29,13.30,-4.90,73.51,9.26
554,Luderitz,81,NaN,1607393807,92,-26.65,15.16,60.67,3.47
555,Krasnoselkup,81,RU,1607393807,88,65.70,82.47,-11.52,18.57
556,Asosa,82,ET,1607393807,40,10.07,34.53,67.89,4.56
557,Aksarka,0,RU,1607393807,83,66.56,67.80,-2.70,4.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(g_key)

In [8]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"].astype(float)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)
fig.add_layer(heatmap_layer)
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure